html, body{
    margin:0;
    padding:0;
    font-size:62.5%;
    box-sizing: border-box;
}

body{
    background-color:lightblue;
    margin:0;
    padding:0;
    width:100%;
    height: 100%;
    box-sizing: border-box;       
}

header{
    background-color:white;
    margin:0;
    padding:0;
    width:100%;
    height:200px;
}

#header_nav{
    background-color:yellow;
    margin:0;
    padding:0;
    height: 160px;
    width:100%;
}

#header_nav_div{
    background-color:white;
    margin:0;
    padding:0;
    height:100%;
}

#logo{
    margin:0;
    padding:0;
    width:auto;
    height:auto;
    display:inline-block;
    float:left;
}
/*top right nav bar begins*/

#top_right_nav{
    font-size:1.5rem;
    margin:0;
    padding:0;
    width:auto;
    height:auto;
    display:inline-block;
    float:right;
}

#top_right_nav ul{
    background-color:#ffffff;
    list-style: none;
    display:block;
    margin:0 auto;
    padding:0;
    width:auto;
    height: 89px;
    transform:translateY(0rem);
    line-height:30px;
}

#top_right_nav ul li:nth-of-type(1){
    display:inline-block;
    margin:0;
    padding:0;
    width:calc(90%/3);
    height:30px;
    text-align: center;
    float:left;
    transform:translateY(1.1rem);
}
#top_right_nav ul li:nth-of-type(2){
    display:inline-block;
    margin:0;
    padding:0;
    width:calc(90%/3);
    height:30px;
    text-align: center;
    float:left;
    transform:translateY(1.1rem);
}
#top_right_nav ul li:nth-of-type(3){
    display:inline-block;
    margin:0;
    padding:0;
    width:calc(90%/3);
    height:30px;
    text-align: center;
    float:left;
    transform:translateY(1.1rem);
}
#top_right_nav ul li:nth-of-type(4){
    display:inline-block;
    margin:0;
    padding:0;
    width:calc(90%/3);
    height:30px;
    text-align: center;
    float:left;
    transform:translateY(2.5rem);
}
#top_right_nav ul li:nth-of-type(5){
    display:inline-block;
    margin:0;
    padding:0;
    float:left;
    width:calc(90%/3);
    height:30px;
    text-align: center;
    transform:translateY(2.5rem);
}
#top_right_nav ul li:nth-of-type(6){
    display:inline-block;
    margin:0;
    padding:0;
    width:calc(90%/3);
    height:30px;
    text-align: center;
    float:left;
    transform:translateY(2.5rem);
}

#top_right_nav ul li a{
    display:block;
    background-color:#6C5B79;
    text-decoration: none;
    color:white;
    margin:0;
    height:30px;
    text-transform: uppercase;
}

#top_right_nav ul li a{
    margin:0 5px 0 5px;
    padding:2px;
}


/*top right nav bar ends*/

/*row under the top right nav bar begins*/

#shop_facebook_amazon_number_nav{
    background-color:#ffffff;
    font-size:1.7rem;
    margin:0;
    padding:0;
    width:630px;
    height:40px;
    display:inline-block;
    float:right;
    transform:translateY(1rem);
}
#shop_facebook_amazon_number_nav ul{
    background-color:grey;
    list-style: none;
    display:block;
    margin:0 auto;
    padding:0;
    width:100%;
    height:auto;    
}

#shop_facebook_amazon_number_nav ul li:nth-of-type(1){
    margin:0;
    padding:0;
    background-color:#ffffff;
    text-transform: capitalize;
    width:calc(100%/4);
    height:auto;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    float:left;
    display:inline-block;
    transform: translateY(0rem);
}

#shop_facebook_amazon_number_nav ul li:nth-of-type(2){
    margin:0;
    padding:0;
    display:inline-block;
    width:calc(70%/4);
    height:auto;
    background-color:#ffffff;
    text-align: center;
    float: left;
}
#shop_facebook_amazon_number_nav ul li:nth-of-type(3){
    margin:0;
    padding:0;
    display:inline-block;
    width:calc(70%/4);
    height:auto;
    background-color:#ffffff;
    text-align: center;
    float:left;
}
#shop_facebook_amazon_number_nav ul li:nth-of-type(4){
    margin:0;
    padding:0;
    display:inline-block;
    width:calc(118%/4);
    height:auto;
    background-color:#ffffff;
    text-align: left;
    float:left;
    color:#F42098;
    font-size:2.7rem;
    font-weight: bold;
}

/*row under the top right nav bar ends*/

/*pink nav bar begins*/
#div_pink{
    background-color:#F42098;
    display:block;
    margin:0 auto;
    padding:0;
    width:100%;
    height:40px;
}

#pink_nav_left{.
    margin:0;
    padding:0;
    width:940px;
    height:40px;
    display:inline-block;
    float:left;
    
}

#pink_nav_left ul{
    background-color: #F42098;
    display:block;
    margin:0 auto;
    padding:0;
    width:100%;
    height:100%;  
    list-style: none;
    line-height:40px;
}

#pink_nav_left ul li:nth-of-type(1){
    background-color: #F42098;
    display:inline-block;
    margin:0;
    padding:0;
    width:80px;
    height: auto;
    text-transform: uppercase;
    text-align: center;
    float:left;
    font-size:1.3rem;
}

#pink_nav_left ul li:nth-of-type(2){
    background-color: #F42098;
    display:inline-block;
    margin:0;
    padding:0;
    width:110px;
    height: auto;
    text-transform: uppercase;
    text-align: center;
    float: left;
    font-size:1.3rem;
}

#pink_nav_left ul li:nth-of-type(3){
    background-color: #F42098;
    display:inline-block;
    margin:0;
    padding:0;
    width:140px;
    height: auto;
    text-transform: uppercase;
    text-align: center;
    float: left;
    font-size:1.3rem;
}

#pink_nav_left ul li:nth-of-type(4){
    background-color: #F42098;
    display:inline-block;
    margin:0;
    padding:0;
    width:100px;
    height: auto;
    text-transform: uppercase;
    text-align: center;
    float: left;
    font-size:1.3rem;
}

#pink_nav_left ul li:nth-of-type(5){
    background-color: #F42098;
    display:inline-block;
    margin:0;
    padding:0;
    width:120px;
    height: auto;
    text-transform: uppercase;
    text-align: center;
    float: left;
    font-size:1.3rem;
}
#pink_nav_left ul li:nth-of-type(6){
    background-color: #F42098;
    display:inline-block;
    margin:0;
    padding:0;
    width:110px;
    height: auto;
    text-transform: uppercase;
    text-align: center;
    float: left;
    font-size:1.3rem;
}

#pink_nav_left ul li:nth-of-type(7){
    background-color: #F42098;
    display:inline-block;
    margin:0;
    padding:0;
    width:60px;
    height: auto;
    text-transform: uppercase;
    text-align: center;
    float: left;
    font-size:1.3rem;
}
#pink_nav_left ul li:nth-of-type(8){
    background-color: #F42098;
    display:inline-block;
    margin:0;
    padding:0;
    width:70px;
    height: auto;
    text-transform: uppercase;
    text-align: center;
    float: left;
    font-size:1.3rem;
}
#pink_nav_left ul li:nth-of-type(9){
    background-color: #F42098;
    display:inline-block;
    margin:0;
    padding:0;
    width:150px;
    height: auto;
    text-transform: uppercase;
    text-align: center;
    float: rightt;
    font-size:1.3rem;
}

#pink_nav_left ul li a{
    color:#ffffff;
    text-decoration: none;
    text-align: center;
}

#pink_nav_right{
    background-color:#F42098;
    margin:0;
    padding-right:50px;
    width:190px;
    height:40px;
    display: inline-block;
    float:right;
}


#pink_nav_right ul li:nth-of-type(1){
    display:inline-block;
    margin:0;
    padding:0;
    width:45px;
    text-align: center;
    float: left;
}

#pink_nav_right ul li:nth-of-type(2){
    display:inline-block;
    margin:0;
    padding:0;
    width:45px;
    text-align: center;
    float: left;
}

#pink_nav_right ul li:nth-of-type(3){
    display:inline-block;
    margin:0;
    padding:0;
    width:45px;
    text-align: center;
    float: left;
}

#pink_nav_right ul li:nth-of-type(4){
    display:inline-block;
    margin:0;
    padding:0;
    width:2px;
    float: right;
}


#pink_nav_right ul li a{
    margin:0;
    padding:0;
}


/*pink nav bar ends*/


