html, body{
    margin:0;
    padding:0;
    font-size:62.5%;
    box-sizing: border-box;
}

body{
    background-color:lightblue;
    margin:0;
    padding:0;
    width:100%;
    height: 100%;
    box-sizing: border-box;       
}

header{
    background-color:white;
    margin:0;
    padding:0;
    width:100%;
    height:250px;
}
header span{
    display:block;
    margin:0 auto;
    padding:0;
    
    
}


#logo{
    margin:0;
    padding:0;
    width:auto;
    height:auto;
    display:inline-block;
    float:left;
}
/*top right nav bar begins*/

#top_right_nav{
    font-size:1.5rem;
    margin:0;
    padding:0;
    width:auto;
    height:auto;
    display:inline-block;
    float:right;
}

#top_right_nav ul{
    background-color:#ffffff;
    list-style: none;
    display:block;
    margin:0 auto;
    padding:0;
    width:auto;
    height: 89px;
    transform:translateY(0rem);
}

#top_right_nav ul li:nth-of-type(1){
    display:inline-block;
    width:calc(90%/3);
    height:30px;
    text-align: center;
    float:left;
    transform:translateY(1.1rem);
}
#top_right_nav ul li:nth-of-type(2){
    display:inline-block;
    width:calc(90%/3);
    height:30px;
    text-align: center;
    float:left;
    transform:translateY(1.1rem);
}
#top_right_nav ul li:nth-of-type(3){
    display:inline-block;
    width:calc(90%/3);
    height:30px;
    text-align: center;
    float:left;
    transform:translateY(1.1rem);
}
#top_right_nav ul li:nth-of-type(4){
    display:inline-block;
    width:calc(90%/3);
    height:30px;
    text-align: center;
    float:left;
    transform:translateY(2.5rem);
}
#top_right_nav ul li:nth-of-type(5){
    display:inline-block;
    float:left;
    width:calc(90%/3);
    height:30px;
    text-align: center;
    transform:translateY(2.5rem);
}
#top_right_nav ul li:nth-of-type(6){
    display:inline-block;
    width:calc(90%/3);
    height:30px;
    text-align: center;
    float:left;
    transform:translateY(2.5rem);
}

#top_right_nav ul li a{
    display:block;
    background-color:#6C5B79;
    text-decoration: none;
    color:white;
    margin:0;
    padding:0;
    height:30px;
    text-transform: uppercase;
}

#top_right_nav ul li a:nth-of-type(1){
    margin:0 5px 0 5px;
    padding:2px
}

/*top right nav bar ends*/

/*row under the top right nav bar begins*/

#shop_facebook_amazon_number_nav{
    background-color:#ffffff;
    font-size:1.7rem;
    margin:0;
    padding:0;
    width:630px;
    height:40px;
    display:inline-block;
    float:right;
    transform:translateY(1rem);
}
#shop_facebook_amazon_number_nav ul{
    background-color:grey;
    list-style: none;
    display:block;
    margin:0 auto;
    padding:0;
    width:100%;
    height:auto;    
}

#shop_facebook_amazon_number_nav ul li:nth-of-type(1){
    margin:0;
    padding:0;
    background-color:#ffffff;
    text-transform: capitalize;
    width:calc(100%/4);
    height:auto;
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
    float:left;
    display:inline-block;
    transform: translateY(.4rem);
}

#shop_facebook_amazon_number_nav ul li:nth-of-type(2){
    margin:0;
    padding:0;
    display:inline-block;
    width:calc(70%/4);
    height:auto;
    background-color:#ffffff;
    text-align: center;
    float: left;
}
#shop_facebook_amazon_number_nav ul li:nth-of-type(3){
    margin:0;
    padding:0;
    display:inline-block;
    width:calc(70%/4);
    height:auto;
    background-color:#ffffff;
    text-align: center;
    float:left;
}
#shop_facebook_amazon_number_nav ul li:nth-of-type(4){
    margin:0;
    padding:0;
    display:inline-block;
    width:calc(118%/4);
    height:auto;
    background-color:#ffffff;
    text-align: center;
    float:left;
    color:#F42098;
    font-size:2.8rem;
    font-weight: bold;
}

/*row under the top right nav bar ends*/

/*pink nav bar begins*/
header div{
    margin:0;
    padding:0;
    width:auto;
    height:auto;
    font-size:2.5rem;
}
header div nav{
    margin:0;
    padding:0;
    width:auto;
    height:auto;
    display:block;
    
}

header div nav ul{
    background-color: #F42098;
    display:block;
    margin:0 auto;
    padding:0;
    width:100%;
    height:auto;  
    list-style: none:
}

header div nav ul li:nth-of-type(1){
    background-color: #F42098;
    display:inline-block;
    margin:0;
    padding:0;
    width:calc(100%/13);
    height: auto;
    text-transform: uppercase;
    text-align: center;
    float:left;
    font-size:1.6rem;
}

header div nav ul li:nth-of-type(2){
    background-color: #F42098;
    display:inline-block;
    margin:0;
    padding:0;
    width:calc(100%/13);
    height: auto;
    text-transform: uppercase;
    text-align: center;
    float: left;
    font-size:1.6rem;
}

header div nav ul li:nth-of-type(3){
    background-color: #F42098;
    display:inline-block;
    margin:0;
    padding:0;
    width:calc(100%/13);
    height: auto;
    text-transform: uppercase;
    text-align: center;
    float: left;
    font-size:1.6rem;
}

header div nav ul li:nth-of-type(4){
    background-color: #F42098;
    display:inline-block;
    margin:0;
    padding:0;
    width:calc(100%/13);
    height: auto;
    text-transform: uppercase;
    text-align: center;
    float: left;
    font-size:1.6rem;
}

header div nav ul li:nth-of-type(5){
    background-color: #F42098;
    display:inline-block;
    margin:0;
    padding:0;
    width:calc(100%/13);
    height: auto;
    text-transform: uppercase;
    text-align: center;
    float: left;
    font-size:1.6rem;
}
header div nav ul li:nth-of-type(6){
    background-color: #F42098;
    display:inline-block;
    margin:0;
    padding:0;
    width:calc(100%/13);
    height: auto;
    text-transform: uppercase;
    text-align: center;
    float: left;
    font-size:1.6rem;
}

header div nav ul li:nth-of-type(7){
    background-color: #F42098;
    display:inline-block;
    margin:0;
    padding:0;
    width:calc(100%/13);
    height: auto;
    text-transform: uppercase;
    text-align: center;
    float: left;
    font-size:1.6rem;
}
header div nav ul li:nth-of-type(8){
    background-color: #F42098;
    display:inline-block;
    margin:0;
    padding:0;
    width:calc(100%/13);
    height: auto;
    text-transform: uppercase;
    text-align: center;
    float: left;
    font-size:1.6rem;
}
header div nav ul li:nth-of-type(9){
    background-color: #F42098;
    display:inline-block;
    margin:0;
    padding:0;
    width:calc(100%/13);
    height: auto;
    text-transform: uppercase;
    text-align: center;
    float: left;
    font-size:1.6rem;
}

header div nav ul li:nth-of-type(10){
    background-color: #F42098;
    display:inline-block;
    margin:0;
    padding:0;
    width:calc(100%/13);
    height: auto;
    text-transform: uppercase;
    text-align: center;
    float: left;
    font-size:1rem;
}

header div nav ul li:nth-of-type(11){
    background-color: #F42098;
    display:inline-block;
    margin:0;
    padding:0;
    width:calc(100%/13);
    height: auto;
    text-transform: uppercase;
    text-align: center;
    float: left;
}

header div nav ul li:nth-of-type(12){
    background-color: #F42098;
    display:inline-block;
    margin:0;
    padding:0;
    width:calc(100%/13);
    height: auto;
    text-transform: uppercase;
    text-align: center;
    float: left;
}

header div nav ul li:nth-of-type(13){
    background-color: #F42098;
    display:inline-block;
    margin:0;
    padding:0;
    width:calc(100%/13);
    height: auto;
    text-transform: uppercase;
    text-align: center;
    float: left;
}

}

header div nav ul li a{
    display: block;
    text-decoration: none;
    margin:0;
    padding:0;
    height:auto;
    text-transform:uppercase;
}

}
/*pink nav bar ends*/


